/* GERENCIA DE PROJETOS */

.todo-conteudo-gerencia-projetos {
    background-color: #FF3773;
    color: white;
    padding: 68px 0;
}

.todo-conteudo-gerencia-projetos .botoes-lojas {
    margin-top: 48px;
}