/* GERENCIA DE PROJETOS */

.todo-conteudo-gerencia-projetos {
    background-color: var(--cor-rosa);
    color: var(--cor-branca);
    padding: 4.25rem 0;
}

.todo-conteudo-gerencia-projetos .botoes-lojas {
    margin-top: 3rem;
}