/* NOSSAS CONQUISTAS */

.todas-nossas-conquistas {
    padding-top: 5.125rem;
    padding-bottom: 5.125rem;
}

.coluna, .bloco-de-conquistas {
    width: 45%;
}

.bloco-de-numeros {
    flex-wrap: wrap;
}

.bloco-de-conquistas, .conteudo-vamos-la, .conteudo-gerencia-projetos {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.bloco-de-conquistas i {
    font-size: 1.625rem;
    margin-right: 1rem;
}
