/* RODAPE */

.rodape {
    background: #0B0D17;
    padding: 3.5rem 5.25rem;
    color: var(--cor-branca);
}

.conteudo-rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-rodape ul {
    list-style: none;
    display: flex;
    margin-bottom: 1.5rem;
}

.menu-rodape ul li {
    margin-right: 1.5rem;
}

.menu-rodape ul li a {
    text-decoration: none;
    color: var(--cor-branca);
}

.botoes-download-rodape {
    display: flex;
    flex-direction: column;
}

.botoes-download-rodape a {
    margin-top: 1rem;
}

.conteudo-rodape div:nth-of-type(1) { order: 1; }
.conteudo-rodape div:nth-of-type(2) { order: 2; }

@media screen and (max-width: 30rem) {
   .rodape {
    padding-left: 0;
    padding-right: 0;
   } 

.conteudo-rodape div:nth-of-type(1) { order: 2; }
.conteudo-rodape div:nth-of-type(2) { order: 1; }

.menu-rodape ul {
    justify-content: center;
}
.menu-rodape ul li {
margin: 0 1rem;
padding: 1rem 0 0 0;
}

.conteudo-rodape p {
    text-align: center;
}

}