* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #333333;
    font-size: 16px;
    line-height: 26px;
}

.conteudo {
    width: 80%;
    margin: 0 auto 0 auto;
    max-width: 1140px;
    min-width: 60%;
}

.bloco-de-recursos {
    text-align: center;
    width: 30%;
    margin: 50px 0px 15px 0;
    /*padding-top: 40px;
    padding-bottom: 40px;*/
}

.bloco-de-recursos i {
    font-size: 48px;
}

.cor-verde {
    color: #28F5BE;
}

.cor-rosa {
    color: #FF3773;
}

.titulo-bloco-de-recursos {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.todos-os-blocos-de-recursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulo-de-sessao {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.titulo {
    margin: 8px 0px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.sub-titulo {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

/*  HEADER  */

.cabecalho {
    background-color: white;
    /* box-shadow: 0px 1px 0px #e5e9f2; */
    border-bottom: solid 1px #e5e9f2;
    padding: 26px 0;
}

.conteudo-do-header, 
.conteudo-conquistas, 
.bloco-de-numeros,
.bloco-depoimentos {
    display: flex;
    justify-content: space-between;
}

.informacoes-do-cabecalho, 
.informacoes-do-cabecalho nav {
    display: flex;
    align-items: center;
}

.informacoes-do-cabecalho img, 
.informacoes-do-cabecalho nav a {
    margin-right: 32px;
}

.informacoes-do-cabecalho nav a {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #18191f;
}

.botoes-lojas a {
    margin-right: 12px;
    text-decoration: none;
}

/* GERAL */

.titulo-principal {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 32px;
}

.botao {
    background: #28F5BE;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 16px 67px;
    border-radius: 8px;
}

.botao:hover {
    background: #FF3773;
}

/* Banner Principal */

.banner-principal {
    background-image: url(../img/bg-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* DEPOIMENTOS */

.todos-os-depoimentos {
    background: #28F5BE;
    padding: 120px 0 152px 0;
    margin: 64px 0;
}

.depoimento {
    background: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    margin-top: 24px;
}

.depoimento p, .depoimento h3 {
    color: #18191f;
    font-size: 18px;
}

.depoimento p {
    line-height: 32px;
    margin-bottom: 24px;
    margin-top: -30px;
}

.depoimento p,
.depoimento h3,
.depoimento h4 {
    padding-left: 32px;
}

.textos-do-depoimento:before {
content: url(../img/aspas.png)
}

.depoimento h3 {
    line-height: 28px;
}

.depoimento h4 {
    font-size: 14px;
    line-height: 24px;
    color: #969bab;
    font-weight: normal;
}

.margin-negativa-110 {
    margin-top: -110px;
}

.margin-negativa-110 .depoimento:first-child {
margin-bottom: 124px;
}

.largura-350 {
    width: 350px;
}

/* NOSSAS CONQUISTAS */

.todas-nossas-conquistas {
    padding-top: 82px;
    padding-bottom: 82px;
}

.coluna, .bloco-de-conquistas {
    width: 45%;
}

.bloco-de-numeros {
    flex-wrap: wrap;
}

.bloco-de-conquistas, .conteudo-vamos-la, .conteudo-gerencia-projetos {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.bloco-de-conquistas i {
    font-size: 26px;
    margin-right: 16px;
}

/* VAMOS LÁ */

.todo-conteudo-vamos-la {
    padding: 64px 0;
}

.conteudo-vamos-la, .conteudo-gerencia-projetos {
    justify-content: space-between;
}

.link-roxo {
    font-size: 20px;
    font-weight: bold;
    color: #9b51e0;
    text-decoration: none;
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.link-roxo i {
    margin-left: 8px;
}

/* GERENCIA DE PROJETOS */

.todo-conteudo-gerencia-projetos {
    background-color: #FF3773;
    color: white;
    padding: 68px 0;
}

.todo-conteudo-gerencia-projetos .botoes-lojas {
    margin-top: 48px;
}

/* RODAPE */

.rodape {
    background: #0B0D17;
    padding: 56px 84px;
    color: white;
}

.conteudo-rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-rodape ul {
    list-style: none;
    display: flex;
    margin-bottom: 24px;
}

.menu-rodape ul li {
    margin-right: 24px;
}

.menu-rodape ul li a {
    text-decoration: none;
    color: white;
}

.botoes-download-rodape {
    display: flex;
    flex-direction: column;
}

.botoes-download-rodape a {
    margin-top: 16px;
}